# Dependencies
**/node_modules/

# Environment variables
**/.env
**/.env.*

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Build folders
dist/
build/

# Coverage
coverage/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Runtime files
*.pid
*.seed

# Cache
.cache/
.parcel-cache/
.eslintcache

# Terraform (if added later)
.terraform/
*.tfstate
*.tfstate.*

# Docker
*.tar

# Misc
*.swp

#Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup